<%=link_to "Goods Index", "/goods" %>
<%= link_to "Bakeries Index", "/bakeries" %>
<%= link_to "Create Good", "/bakeries/#{@bakery.id}/goods/new" %>
<h1><%= @bakery.name %></h1>
<ul>
  <% @goods.each do |good| %>
  <h3>Good name:<%= good.name %></h3>
  <li>Good Category: <%= good.category%></li>
  <li>Days Old: <%= good.days_old %></li>
  <li>Gluten Free: <%= good.gluten_free %></li>
  <li>Bakery ID: <%= good.bakery_id %></li>
</ul>
<% end %>
