<h1><%= @bakery.name%></h1>
<ul>
  <li><%= @bakery.id %></li>
  <li><%= @bakery.city%></li>
  <li><%=@bakery.delivery%></li>
  <li><%=@bakery.review%></li>
  <li>Goods Availible:<%= @bakery.goods.count %></li>
</ul>
