<%= link_to "Update Good", "/goods/#{@good.id}/edit" %>
<h1><%=@good.name%></h1>
<ul>
  <li>Good Id: <%= @good.id %></li>
  <li>Good Category: <%= @good.category %></li>
  <li>Good Days Old: <%= @good.days_old %></li>
  <li>Gluten Free? <%= @good.gluten_free%></li>
  <li> Bakery Id:<%= @good.bakery_id %></li>
  <li> created_at<%= @good.created_at %> </li>
  <li> updated_at <%= @good.updated_at  %> </li>
</ul>
<%= button_to "Delete Good", "/goods/#{@good.id}", method: :delete %>
