<h1>All Beds</h1>

<h6><%= link_to "New Bed", "/beds/new" %></h6>

<% @beds.each do |bed| %>
  <h3><%= link_to "#{bed.name}", "/beds/#{bed.id}" %></h3>
  <ul>
    <li>Occupied: <%= bed.occupied %></li>
    <li>Guest Availability: <%= bed.guest_count %></li>
    <li>Total Guests Available: <%= bed.guests.count %></li>
    <li>Created at: <%= bed.created_at %></li>
    <li>Updated at: <%= bed.updated_at %></li>
  </ul>

  <%= button_to "Edit #{bed.name}", "/beds/#{bed.id}/edit", method: :get %>
  <%= button_to "Delete #{bed.name}", "/beds/#{bed.id}", method: :delete %>
<% end %>
