<%= link_to "#{@bed.name}", "/beds/#{@bed.id}/guests" %>

  <ul>
    <li><%= "Occupied: #{@bed.occupied}" %></li>
    <li><%= "Guess Count: #{@bed.guests.count}" %></li>
    <li><%= "ID: #{@bed.id}" %></li>
    <li><%= "Created at: #{@bed.created_at}" %></li>
    <li><%= "Total Guests Available: #{@bed.guest_count}" %></li>
    <li><%= "Updated at: #{@bed.updated_at}" %></li>
  </ul>

  <%= button_to "Update Bed", "/beds/#{@bed.id}/edit", method: :get %>
  <%= button_to 'Delete', "/beds/#{@bed.id}", method: :delete %>
